.filter2 {
    text-align: center;
    background-color: rgb(199, 72, 72);
}

.select {
    width:54%;
    height:25px;
    border:2px solid black;
    background-color: rgb(237, 238, 232);
    margin-top:5px;
    margin-bottom: 10px;
    
}

.option {
    text-transform: uppercase;
}

.button-restart {
    cursor: pointer;
    height:31px;
    margin:5px 0px;
    background-color:black;
    color:white;
    border:1px solid rgb(237, 238, 232);
    border-radius: 15%;
}